.pio
.vscode

# *

# !.gitignore
# !README.md
# !LICENSE

# !images/
# !images/**

# !src/
# !src/meow/
# !src/meow/**
# !src/main.cpp

# !src/
# !src/context/
# !src/context/**

# !lib/
# !lib/TFT_eSPI/
# !lib/TFT_eSPI/**

# !include/
# !include/meowui_setup/
# !include/meowui_setup/**

# !include/
# !include/modules_setup/
# !include/modules_setup/**

# !docs/
# !docs/**